
.comment {
  margin-bottom: 15px;
  font-size: 14px;
}

.comment__top {
  display: flex;
  margin-bottom: 5px;
  color: #333;
  align-items: center;
  
  &:hover {
    opacity: 0.8;
  }
}

.comment__avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment__login {
  display: inline-block;
  font-size: 20px;
}

.comment__date {
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
  color: #999;
}