.input {
  display: inline-flex;
  width: 100%;
  min-height: 30px;
  max-width: 350px;
  margin-right: 30px;
  position: relative;

  border-radius: 7px;
  border: 1px solid #ddd;
  outline: none;

  

  .icon {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    opacity: 0.6;
    transform: translate(0, -50%);
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  ._text {
    width: 100%;
    min-height: 100%;
    padding: 4px 10px;
    padding-right: 40px;

    &:focus {
      box-shadow: 0 0 2px 2px #ddd;
    }
  }
}

input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
}
input::-moz-placeholder          {
  color: #bdbdbd;
  font-size: 16px;
}
input:-moz-placeholder           {
  color: #bdbdbd;
  font-size: 16px;
}
input:-ms-input-placeholder      {
  color: #bdbdbd;
  font-size: 16px;
}