$second: #d1b4f1;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner {
  width: 100%;
  max-width: 920px;
  position: relative;
  margin: 0 auto;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 150px;
}

input {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
}


.icon {
  display: inline-block;
  background-repeat: no-repeat;

  &._search {
    background-image: url("/images/search.png");
  }
}

.title {
  color: $second;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

._tac {
  text-align: center;
}

.spacer {
  width: 100%;
  height: 1px;

  background-color: $second;
  opacity: 0.6;

  &._t10 {
    margin-top: 10px;
  }
  &._b10 {
    margin-bottom: 10px;
  }
  
  &._big {
    height: 7px;
  }
}

.empty {
  padding: 20px 0;
  color: $second;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  opacity: .8;
}

.error {
  color: red;
  font-size: 16px;
}

.form__text {
  font-size: 16px;
}