.issue-item {
  padding: 10px 10px;
  border-bottom: 1px solid #d1b4f1;
  opacity: 1;
  transition: opacity .1s linear,
              background-color .1s linear;

  // &:hover {
  //   cursor: pointer;
  //   background-color: #f4f4f4;
  // }

  &._active {
    background-color: #f4f4f4;
  }
}

.issue-item__title {

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.issue-item__top {
  display: flex;
  justify-content: space-between;
}

.issue-item__author {
  font-size: 13px;
}

.issue-item__number {
  color: #aaa;
  font-size: 13px;
}

.issue-item__text {
  margin: 20px 0;
  margin-left: 15px;
  padding: 3px 0;
  padding-left: 10px;
  font-size: 14px;
  border-left: 1px solid #ddd;

}

.issue-item__link {
  padding: 10px 0 5px;
  display: block;
  color: blue;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.issue-item__bottom {
  display: flex;
  justify-content: space-between;
}