.repositories-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  // max-height: 300px;
  // overflow-y: auto;
}

.repository {
  display: inline-block;
  padding: 3px 10px;
  flex: 1 1 auto;
  margin: 0 5px 5px 0;
  font-size: 14px;
  background-color: #eee;

  &:hover {
    cursor: pointer;
    background-color: #bbb;
  }

  &._active {
    background-color: #bbb;
  }
}

.repository__fullname {
  font-size: 12px;
}

.repository__name {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}