.pagination {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    
    font-size: 13px;
    background-color: #bfe2ff;
    cursor: pointer;
    
    &:hover {
      opacity: .7;
    }

    &._active {
      background-color: #3f739e;

      a {
        color: #fff;
      }
    }
  }
  
  a {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
  }
}