.header {
  display: flex;
  height: 60px;
  color: #fff;
  background-color: #3f739e;

  .inner {
    display: flex;
  }
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}

.logo {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
}